body{
    background-image: url(/Images/background1.jpg);
    background-size: 170%;
    background-position: right;

}
.Menu li{
    list-style-type: none;
    float: left;
    margin-left: 80px;
    margin-top: 80px; 
    padding: 0px;
    font-family: 'Gabarito', cursive;
    font-size: larger;
    display: inline;
    list-style-type: none;
}
li{
    /* font-family: 'Poppins', sans-serif;
    font-size: larger;
    display: inline;
    margin: 6px;
    font-family: 'Gabarito', cursive; */
    
}


img{
    width: 200px;
    border-width: 5px;
    /* height: 50px; */
    border-radius: 100%;
    padding-right: 4%;
    padding-bottom: -2%;
    margin-left: 80%;
    margin-top: 3%;
    margin-top: -3%;
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    
}
#Me{
    text-align: right;
    padding-top: 5%;
    padding-bottom: 0%;
    padding-left: 50%;
    padding-right: 6%;
}
#formerWork{
    text-align: left;
    padding-top: 2%;
    padding-bottom: 0%;
    padding-left: 6%;
    padding-right: 50%;
}
.workList li{
    list-style-type: disc;
    padding-top: 1%;
}